DATABASE_URL=postgresql://user:password@localhost:5432/gamertakes
NEXTAUTH_SECRET=your-secret-here
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
IGDB_CLIENT_ID=
IGDB_CLIENT_SECRET=
OPENCRITIC_API_KEY=
STEAM_API_KEY=
PSN_ENCRYPTION_KEY=
CLOUDINARY_URL=
CRON_SECRET=
